.sidebarwrapper {
  position: relative;
}

.sidebarwrapper:hover > .expand {
  opacity: 1;
  transform: translateX(0);
}

.icon:hover > .expand {
  opacity: 1;
  transform: translateX(0);
}
.expand {
  position: absolute;
  right: -22%;
  top: 0%;
  opacity: 0;
  transform: translateX(10px);
  transition: visibility 0s, opacity 0.5s ease, transform 0.5s ease;
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expand:hover {
  opacity: 1;
  transform: translateX(0);
}

.sideBarItems:hover {
  background-color: #f4f4f3;
}
