.itemWrapper {
  width: 60%;
  height: auto;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1200px) {
  .itemWrapper {
    width: 68%;
  }
}

@media (max-width: 992px) {
  .itemWrapper {
    width: 72%;
  }
}

@media (max-width: 768px) {
  .itemWrapper {
    width: 95%;
  }
}

@media (max-width: 576px) {
  .itemWrapper {
    width: 80%;
  }
}
